.form-field {
  display: block;
  margin: 10px 0 0;
}

.set-field + .set-field {
  margin-top: 20px;
}

.form-field1 {
  margin-top: 0;
}

.form-field2 {
  margin-top: 0;
}

.bottom {
  margin: 10px;
}
